body {
    background-color: #F6F7FB;
}
.panel-heading {
    border-bottom-width: 0px;
    margin: auto;
    padding-top: 60px;
}
.panel-default>.panel-heading {
    background-color: #FFFFFF;
    border: 0px #FFFFFF;
}
.box {
    -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 1);
}
.horizontally-center {
    margin-bottom: 15px;
    margin: auto;
    width: 60%;
}
.panel-heading h1 {
    padding-top: 25px;
    margin-bottom: 55px;
}
.form-control {
    height: 45px !important;
    margin-bottom: 32px;
}
.btn-primary {
    color: #fff;
    background-color: #50C14F;
    border-color: #50C14F;
}
a {
    color: #468DDD;
    text-decoration: underline;
    font-size: 16px;
}
.custom-row {
    padding-top: 70px;
}
/* Extra Small Devices, Phones */

@media only screen and (max-width: 480px) {}
/* Extra Small Devices,phones and below*/

@media only screen and (max-width: 767px) {
    h1 {
        font-size: 20px;
    }
}
/* Small Devices and below */

@media only screen and (max-width: 991px) {
    h1 {
        font-size: 22px;
    }
}
/* Medium Devices and below */

@media only screen and (max-width: 1199px) {}
