body {
  background-color: #f6f7fb;
}
.panel-heading {
  border-bottom-width: 0px;
  margin: auto;
  padding-top: 60px;
}
.panel-default > .panel-heading {
  background-color: #ffffff;
  border: 0px #ffffff;
}
.box {
  -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 1);
}
.horizontally-center {
  margin-bottom: 15px;
  margin: auto;
  width: 60%;
}
.panel-heading h1 {
  padding-top: 25px;
  margin-bottom: 55px;
}
.form-control {
  height: 45px !important;
  margin-bottom: 32px;
}
.btn-primary {
  color: #fff;
  background-color: #50c14f;
  border-color: #50c14f;
}
a {
  color: #468ddd;
  text-decoration: underline;
  font-size: 16px;
}
.custom-row {
  padding-top: 70px;
}

/* Medium Devices and below */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .panel-heading h1 {
    color: blue;
  }
}

/* Medium Devices tablets */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .panel-heading h1 {
    color: orange;
  }
}

/* Small devices sm phones*/
@media only screen and (min-width: 481px) and (max-width: 767px) {
  .panel-heading h1 {
    color: green;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .panel-heading h1 {
    color: red;
  }
}
